@import '../../sass/respond-to-media.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-xxl);
    height: auto;
    width: auto;
    margin-left: 5rem;
    margin-right: 5rem;

    @include respond(phone) {
    }
}
