@import '../../sass/respond-to-media.scss';

.btn {
    transition: all 0.15s ease-in;
    padding: 1.5rem 3rem;
    cursor: pointer;
    width: max-content;
    height: max-content;
    border-radius: var(--border-radius-l);

    @include respond(tab) {
        padding: 1.2rem 2.2rem;
    }
}

.primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    border: none;

    &:hover {
        transition: all 0.15s ease-in;
        background-color: var(--color-purple);
    }
}

.secondary {
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    border: none;

    &:hover {
        transition: all 0.15s ease-in;
        background-color: var(--color-green);
    }
}

.tertiary {
    background-color: var(--color-tertiary);
    color: var(--color-black);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    border: none;

    &:hover {
        transition: all 0.15s ease-in;
        background-color: #e195b5;
    }
}

.black {
    font-family: var(--font-family-regular);
    background-color: var(--color-white);
    color: var(--color-black);
    border: 0.2rem solid var(--color-black);
    font-size: var(--font-size-base);

    &:hover {
        transition: all 0.15s ease-in;
        background-color: var(--color-primary);
        color: var(--color-white);
        border: 0.2rem solid var(--color-primary);
    }
}

.disabled {
    font-family: var(--font-family-regular);
    background-color: transparent;
    color: var(--color-gray-medium);
    border: 0.2rem solid var(--color-gray-medium);
    font-size: var(--font-size-base);
    cursor: not-allowed;
}
