.container {
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
    z-index: 77;
}

.menu-button-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

input {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--color-primary);
    position: absolute;
    height: 0.4rem;
    width: 3rem;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
    content: '';
    margin-top: -0.9rem;
}

.menu-button::after {
    content: '';
    margin-top: 0.9rem;
}

input:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    transform: rotate(405deg);
}

input:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

input:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
}
