@import '../../sass/respond-to-media.scss';

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: 15rem;

    @include respond(phone) {
        margin-top: 6rem;
        flex-direction: column;
    }
}

.article {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.image {
    flex: 1;
    height: 100%;
    max-width: 40rem;

    @include respond(phone) {
        max-width: 30rem;
    }
}
