@import '../../sass/respond-to-media.scss';

.big {
    font-size: var(--font-size-big);
    color: var(--color-black);
    line-height: 1.5;

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.big--gray {
    font-size: var(--font-size-big);
    color: var(--color-gray-dark);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.big--primary {
    font-size: var(--font-size-big);
    color: var(--color-primary);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.regular {
    font-size: var(--font-size-base);
    color: var(--color-black);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.regular--bold {
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-weight: var(--font-weight-bold);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.regular--secondary_bold {
    font-size: var(--font-size-base);
    color: var(--color-secondary);
    font-weight: var(--font-weight-bold);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.regular--alert_bold {
    font-size: var(--font-size-base);
    color: var(--color-tertiary);
    font-weight: var(--font-weight-bold);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.regular--primary {
    font-size: var(--font-size-base);
    color: var(--color-primary);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.regular--tertiary {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    color: var(--color-tertiary);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.regular--gray {
    font-size: var(--font-size-base);
    color: var(--color-gray-medium);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.regular--white {
    font-size: var(--font-size-base);
    color: var(--color-white);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.small {
    font-size: var(--font-size-regular);
    color: var(--color-black);

    @include respond(tab) {
        font-size: var(--font-size-small);
    }
}

.small--secondary {
    font-size: var(--font-size-regular);
    color: var(--color-secondary);

    @include respond(tab) {
        font-size: var(--font-size-small);
    }
}

.small--alert {
    font-size: var(--font-size-regular);
    color: var(--color-tertiary);

    @include respond(tab) {
        font-size: var(--font-size-small);
    }
}

.small--gray {
    font-size: var(--font-size-regular);
    color: var(--color-gray-medium);

    @include respond(tab) {
        font-size: var(--font-size-small);
    }
}

.very-small--gray {
    font-size: var(--font-size-small);
    color: var(--color-gray-medium);

    @include respond(tab) {
        font-size: var(--font-size-small);
    }
}

.very-small--pale {
    text-transform: uppercase;
    font-size: var(--font-size-small);
    color: var(--color-white);
    opacity: 0.6;

    @include respond(tab) {
        font-size: var(--font-size-small);
    }
}
