@import '../../sass/respond-to-media.scss';

.big {
    font-size: var(--font-size-big);
    color: var(--color-black);
    line-height: 1.5;

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.big--gray {
    font-size: var(--font-size-big);
    color: var(--color-gray-dark);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.big--primary {
    font-size: var(--font-size-big);
    color: var(--color-primary);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.regular {
    font-size: var(--font-size-base);
    color: var(--color-black);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.regular--primary {
    font-size: var(--font-size-base);
    color: var(--color-primary);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.regular--gray {
    font-size: var(--font-size-base);
    color: var(--color-gray-medium);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.regular--white {
    font-size: var(--font-size-base);
    color: var(--color-white);

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.small {
    font-size: var(--font-size-regular);
    color: var(--color-black);

    @include respond(tab) {
        font-size: var(--font-size-small);
    }
}

.very-small--gray {
    font-size: var(--font-size-small);
    color: var(--color-gray-medium);

    @include respond(tab) {
        font-size: var(--font-size-small);
    }
}

.very-small--pale {
    text-transform: uppercase;
    font-size: var(--font-size-small);
    color: var(--color-white);
    opacity: 0.6;

    @include respond(tab) {
        font-size: var(--font-size-small);
    }
}
