@import '../../sass/respond-to-media.scss';

.filter__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-l);
}

.filter__items {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacer-m);
    width: 100%;
}

.checkbox__wrapper {
    position: relative;
    cursor: pointer;
    width: 17%;
    height: auto;
    font-family: var(--font-family-regular);
    background-color: var(--color-white);
    color: var(--color-black);
    border: 0.1rem solid var(--color-black);
    font-size: var(--font-size-small);
    border-radius: var(--border-radius-l);
    padding: var(--spacer-s);
    text-align: center;

    &:has(:checked) {
        background-color: red;
    }

    &:hover,
    &:has(:checked) {
        transition: all 0.15s ease-in;
        background-color: var(--color-primary);
        color: var(--color-white);
        border: 0.1rem solid var(--color-primary);
    }

    @include respond(phone) {
        width: 25%;
    }
}

.checkbox__input {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: inline-block;
    opacity: 0;

    &:hover,
    &:checked {
        transition: all 0.15s ease-in;
        background-color: var(--color-primary);
        color: var(--color-white);
        border: 0.2rem solid var(--color-primary);
    }
}
