@import '../../sass/respond-to-media.scss';

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    justify-content: flex-start;
    max-width: 150rem;
    margin-top: 7rem;
    min-height: 100vh;
    overflow: hidden;
    padding: 0 5rem;

    @include respond(phone) {
        margin: 5rem 0;
        padding: 0 3rem;
    }
}
