@import '../../sass/respond-to-media.scss';

.wrapper {
    display: flex;
    position: relative;
    width: 30rem;
    align-items: center;
    background-color: var(--color-white);
    border-radius: var(--border-radius-main);
    flex-direction: column;
    height: auto;
    padding: 1.3rem;
    overflow: hidden;
    gap: var(--spacer-xl);
    flex-basis: auto;
    padding-bottom: var(--spacer-xl);
    margin-bottom: var(--spacer-l);

    @include respond(tab) {
        padding: 1rem;
    }

    @include respond(phone) {
        width: 20rem;
        margin-bottom: var(--spacer-xxxl);
    }
}

.image {
    border-radius: var(--border-radius-s);
}

.heading-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
