@import '../../sass/respond-to-media.scss';

.container {
    align-items: center;
    background-color: var(--color-white);
    border: var(--border-colored);
    border-radius: var(--border-radius-main);
    box-shadow: var(--box-shadow);
    display: flex;
    flex: 1;
    flex-direction: column;
    height: auto;
    padding: 3.5rem 2.5rem 3.5rem 2.5rem;

    @include respond(tab) {
        padding: 2rem 1.5rem 2rem 1.5rem;
    }

    @include respond(phone) {
        padding: 3.5rem 2.5rem 3.5rem 2.5rem;
    }
}
