@import '../../sass/respond-to-media.scss';

.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 7rem;

    @include respond(tab) {
        gap: 5rem;
    }

    @include respond(phone) {
        flex-direction: column;
        width: 90%;
        gap: 3rem;
    }
}

.text__wrapper {
    position: relative;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: var(--spacer-xl);
}
