.image {
    border-radius: var(--border-radius-s);
}

.heading-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: var(--spacer-xl);
    margin-bottom: var(--spacer-xxl);
}
