.image {
    border-radius: var(--border-radius-s);
    height: auto;
    width: auto;
    max-width: 37rem;
}

.heading-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: var(--spacer-m);
    margin-bottom: var(--spacer-xxl);
}
