@import '../../sass/respond-to-media.scss';

.nav--desktop {
    display: flex;
    flex-direction: row;
    gap: var(--spacer-xl);
    margin-right: 5rem;

    @include respond(tab) {
        gap: var(--spacer-m);
    }

    @include respond(phone) {
        display: none;
    }
}

.nav--mobile {
    display: none;

    @include respond(phone) {
        top: 13rem;
        position: absolute;
        width: 100%;
        display: flex;
        gap: var(--spacer-xl);
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.link {
    background: none;
    border: 0;
    color: var(--color-black);
    cursor: pointer;
    font-family: var(--font-family-regular);
    font-size: var(--font-size-base);
    font-weight: 400;
    text-decoration: none;
    transition: all 0.15s ease-in;

    &:hover {
        color: var(--color-primary);
    }

    @include respond(tab) {
        font-size: var(--font-size-regular);
    }
}

.select {
    margin-left: var(--spacer-xl);
    position: relative;
    display: flex;
    gap: var(--spacer-m);
}

.input {
    display: none;
}
.link:has(:checked) {
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
}
