@import '../../sass/respond-to-media.scss';

.nav--desktop {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-right: 5rem;

    @include respond(phone) {
        display: none;
    }
}

.nav--mobile {
    display: none;

    @include respond(phone) {
        display: flex;
        margin-top: 10rem;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.link {
    background: none;
    border: 0;
    color: var(--color-black);
    cursor: pointer;
    font-family: var(--font-family-regular);
    font-size: var(--font-size-base);
    font-weight: 400;
    text-decoration: none;
    transition: all 0.15s ease-in;

    &:hover {
        color: var(--color-primary);
    }
}
