@import '../../sass/respond-to-media.scss';

.container {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
    width: 100%;
    gap: var(--spacer-xxxxl);
    margin-bottom: 25rem;

    @include respond(phone) {
        width: 90%;
    }
}

.hidden {
    display: none;
}
