@import '../../sass/respond-to-media.scss';

.checkout__box {
    width: 20%;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-s);
    border: 0.2rem solid var(--color-secondary);
    padding: var(--spacer-l) var(--spacer-l);
    height: max-content;
    gap: var(--spacer-xxl);

    @include respond(tab) {
        width: 100%;
        max-width: 45rem;
    }
}

.upper_block {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-s);
}

.line {
    margin-top: var(--spacer-xs);
    margin-bottom: var(--spacer-xs);
    width: 100%;
    border-bottom: 0.1rem solid var(--color-secondary);
}

.button_block {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-s);
}

.bottom_block {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-s);
    padding-bottom: var(--spacer-l);
}
