@import '../../sass/respond-to-media.scss';

.container {
    position: relative;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    margin-bottom: 4rem;
}

.wrapper {
    display: flex;
    width: 100%;
    gap: var(--spacer-xxxxl);
    flex-wrap: wrap;
    justify-content: space-evenly;

    @include respond(tab) {
        gap: var(--spacer-l);
    }

    @include respond(phone) {
    }
}

.hidden {
    display: none;
}
