@import '../../sass/respond-to-media.scss';

.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    gap: 5rem;
    margin-bottom: var(--spacer-xxxxxl);

    @include respond(tab) {
        flex-direction: column;
        align-items: center;
        gap: 15rem;
        margin-bottom: var(--spacer-xxxl);
    }
}

.game__wrapper {
    width: 75%;
    display: flex;
    flex-direction: row;
    gap: var(--spacer-xxxxl);

    @include respond(tab) {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

.image {
    border-radius: var(--border-radius-s);
    border: 0.2rem solid var(--color-black);
    max-width: 30rem;
    max-height: 30rem;

    @include respond(tab) {
        width: auto;
        max-width: 45rem;
        max-height: 45rem;
    }

    @include respond(phone) {
        max-width: 30rem;
        max-height: 30rem;
    }
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacer-l);

    @include respond(tab) {
        text-align: center;
    }
}

.headings__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-xxs);
}
