@import '../../sass/respond-to-media.scss';

.container {
    display: flex;
    justify-content: center;
    height: 20rem;
    bottom: 0;
    width: 100%;
    background-color: var(--color-purple-gray);
    margin-top: 20rem;

    @include respond(phone) {
        height: auto;
    }
}

.wrapper {
    padding-top: var(--spacer-xxxxl);
    gap: var(--spacer-xs);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 160rem;
    opacity: 0.9;

    @include respond(phone) {
        padding-bottom: var(--spacer-xxxxl);
    }
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @include respond(phone) {
        flex-direction: column;
        align-items: center;
        gap: var(--spacer-xs);
    }
}

.link {
    background: none;
    border: 0;
    color: var(--color-background);
    cursor: pointer;
    font-family: var(--font-family-regular);
    font-size: var(--font-size-base);
    font-weight: 400;
    text-decoration: none;
    transition: all 0.15s ease-in;

    &:hover {
        color: var(--color-tertiary);
    }
}
