#okta-sign-in.auth-container.main-container {
    background-color: red;
}

#okta-sign-in .beacon-blank {
    background-color: red;
}
#okta-sign-in.auth-container.main-container {
    border-color: red;
}

#okta-sign-in.auth-container .okta-sign-in-header {
    border-bottom-color: red;
}

#okta-sign-in * {
    color: red;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
