@import '../../sass/respond-to-media.scss';

.container {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 160rem;
    margin-top: 5rem;
    overflow: hidden;
    text-align: center;

    @include respond(phone) {
        margin: 0 3rem;
    }
}

.image {
    max-width: 50rem;
    flex: 1;

    @include respond(phone) {
        max-width: 40rem;
    }
}

.link {
    color: var(--color-secondary);
    text-decoration: none;
}
